
[*] 
insert_final_newline = true
end_of_line = crlf
indent_style = tab
indent_size = 4

# file with  .md ending use space indent style
[*.md]
indent_style = space

# files with the following endings all use a indent size of 2
[*.{json,yml,jsonc,yaml}]
indent_size = 2


